<div
  [ngClass]="
    darkMode
      ? 'bg-Paint-700/50 border-Paint-700'
      : 'bg-Paint-100 border-zinc-300'
  "
  class="flex apps flex-col justify-between p-4.5 relative max-w-sm w-full rounded-2xl border-2 h-[180px]"
>
  <div class="flex items-start gap-4">
    <img [src]="extension.logo" />
    <div class="space-y-1">
      <h4
        [ngClass]="darkMode ? 'text-Paint-100' : 'text-Paint-800'"
        class="font-[600] text-sm md:text-base"
      >
        {{ extension.name }}
      </h4>
      <p
        [ngClass]="darkMode ? 'text-Paint-300' : 'text-Paint-700'"
        class="text-xs md:text-sm font-normal"
      >
        {{ extension.description }}
      </p>
    </div>
  </div>
  <div class="bottom-[10%] flex items-center justify-between w-full">
    <button
      [ngClass]="
        darkMode
          ? 'text-Paint-100/80 border-Paint-600'
          : 'text-Paint-700 border-zinc-300'
      "
      class="cursor-pointer px-2.5 py-1 transition-all duration-500 rounded-2xl border text-xs md:text-sm"
    >
      Remove
    </button>

    <mat-slide-toggle
      class="custom-slide-toggle"
      [checked]="extension.isActive"
      (change)="handleClicks(extension.name)"
    ></mat-slide-toggle>
  </div>
</div>
