<div
  [ngClass]="darkMode ? 'app' : 'bg-Paint-200'"
  class="min-h-screen max-w-[144rem] w-full mx-auto my-0"
>
  <div class="w-[92%] md:w-[78%] mx-auto py-6">
    <app-header
      (activeChange)="darkMode = $event"
      [darkMode]="darkMode"
    ></app-header>
    <app-buttons
      [darkMode]="darkMode"
      (activeChange)="active = $event.id; newExtension = $event.extension"
      [active]="active"
      [newExtension]="newExtension"
      [extensions]="extensions"
    ></app-buttons>
    <app-container-list
      [darkMode]="darkMode"
      [active]="active"
      (activeChange)="handleChange($event)"
      [newExtension]="newExtension"
      [extensions]="extensions"
    ></app-container-list>
  </div>
</div>
